* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #E9DEE4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 26px;
}
